:root {
    --color-background: #292929;
    --color-container: #454545;
    --color-input: #232323;
    --color-label: #333333;
    --color-text: #FFFFFF;
    --color-red: #FF5353;
    --color-green: #6EFF5A;
    --color-blue: #247CFF;
    --color-outline: #8B8B8B;
    --color-outline-active: #CCCCCC;
    --color-contrast: #FFFFFF;
    --color-text-contrast: #000000;
    --color-drop: #76dfff;
}