.Section {
    border-radius: 4px;
    background: var(--color-container);
    box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.7);


    &[data-open="false"] {
        > article {
            display: none;
        }
    }

    &[data-open="true"] {
        > label {
            border-radius: 4px 4px 0 0;
        }

        > label > .Icon {
            transform: rotate(0.5turn);
        }
    }

    &[data-floating="true"] {
        position: fixed;
        left: var(--x);
        top: var(--y);
        width: 350px;
        z-index: 5;
    }

    &__float-button {
        cursor: pointer;
        width: 24px;
        height: 24px;
        border-radius: 4px;
        position: relative;
        &:hover {
            outline: 2px solid var(--color-outline);
            z-index: 2;
        }
        &:active {
            outline: 2px solid var(--color-outline-active);
        }
    }

    > label {
        cursor: pointer;
        display: flex;
        width: 100%;
        padding: 0;
        align-items: center;
        background: var(--color-label);
        border-radius: 4px;
        > .Icon {
            pointer-events: none;
        }
        p {
            flex: 1;
            user-select: none;
            -webkit-user-drag: none;
        }
    }

    > article {
        padding: 8px;
        display: flex;
        flex-direction: column;
        gap: 8px;
        align-items: start;
    }
}
