canvas {
  aspect-ratio: 16/9;
  background: lightgrey;
}

body {
  display: grid;
  grid-template-areas:
    c e
    l e;
  grid-template-columns: 1fr auto;
  grid-template-rows: 1fr auto;
}

#editor {
  height: 100%;
  overflow: hidden;
}
